.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    max-width: 200px;
    border-radius: 15px;
    box-shadow: 0 3px #999;
  }

.confirmation {
    padding: 20px;
    background-color: #36f45f;
    color: white;
    max-width: 200px;
    border-radius: 15px;
    box-shadow: 0 3px #999;
  }

.modification {
    padding: 20px;
    background-color: #d8f436;
    color: white;
    max-width: 200px;
    border-radius: 15px;
    box-shadow: 0 3px #999;
  }