.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
  }
  
  .hamb-line {
    background:  white;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
  
  }
  
  .hamb-line::before,
  .hamb-line::after{
    background:  white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  .hamb-line::before{
    top: 5px;
  }
  .hamb-line::after{
    top: -5px;
  }
  .side-menu {
    display: none;
  }
  .side-menu:checked ~ nav{
    max-height: 100%;
  }
  .side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
  }
  .side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
  }
  
  .icon-main{
    width: 15px;  
    height: 15px;  
    display: inline-block;
    object-fit: cover;  
    margin-left: 0.5rem;
  }