header{
    background-color: var(--background-color-header);
    box-shadow: 1px 1px 5px 0px white;
    position: sticky;
    top: 0;
    width: 100%;
    font-size: 15px !important;
  }
  
  header a, button {
      color:white;
      font-weight: bold;
      text-decoration: none;
      transition: all 0.3s ease 0s;
      display: block;
      padding: 30px;
  }

header button {
    color:white;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    height: 100%;
    display: block;
    background-color: transparent !important;
    border: none !important;
    margin-left: 10px;
}

.main-change{
    display: flex;
    text-decoration:none !important;
}
  
  #nav-title{
    display: inline-block;
    color: white;
    font-size: 18px;
  }
  
  header ul{
    list-style: none;
  }
  
  header a:hover {
      color: var(--background-color);
  }
  
  header a:active{
      text-decoration: underline;
  }
  nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--background-color-header);
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-out;
  }