.btn{
    margin-top : 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    padding: 8px 15px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4841B7;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px #999;
    font-weight: bold;
}

.btn2{
    margin-top : 0.05rem;
    margin-bottom: 0.05rem;
    margin-right: 0.5rem;
    display: inline-block;
    padding: 8px 15px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none !important;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px #999;
    font-weight: bold;
}

input[type=text],input[type=date],select {
    border: 2px solid #4841B7;
    border-radius: 4px;
  }

input.error-input,
select.error-input{
  border: 3px solid rgb(243, 0, 0);
  border-radius: 4px;
}

.inputs {
    width: 280px;
    height: 25px;
    margin: 2px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.deletebtn {
    margin-right: 2rem;
    color: white;
    font-weight: bold;
    float: left;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.deletebtn:hover {
    color: black;
}

.closebtn:hover {
    color: black;
}