@import "alerts.css";
@import "burger_menu.css";
@import "inputs.css";
@import "header.css";
@import "tables.css";
@import "change_lang_menu.css";

:root {
    --background-color: rgb(191, 196, 214);
    --background-color-header: #4841B7;
    --text-color: #000;
    --black-trans: rgb(0,0,0);
    --white-trans:  #ffffff;
    --btn-main: #4841B7;
    --even-t: #4841B7;
    --odd-t: rgb(94, 95, 143);
}

[data-theme="dark"] {
    --background-color: #91ca96;
    --background-color-header: #0a0404;
    --text-color: #fff;
    --black-trans: #ffffff;
    --white-trans:  rgb(0,0,0);
    --btn-main:#007d0c;
    --even-t: #566454;
    --odd-t: rgb(0, 98, 27);
}

body {
    background-color: var(--background-color);
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    min-width: 300px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 5rem;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2rem;
  background-color: var(--background-color-header);
  font-weight: bold;
  color : white;    
  padding: 1px;
  left: 0;
  display: flex;
  right: 0;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.inputs{
    display: flex;
    flex-direction: row;
    flex-grow:1;
}

.group-bl{
    display: block;
    margin-bottom: 0.5rem;
    margin-right: 2rem;
}

.hmain{
    color: rgb(243, 0, 0);
    font-weight: bold;
    font-size: 22px;
}

.err{
    display: block;
    font-size: 0.85em;
    line-height: 2.25rem;
    color: rgb(243, 0, 0);
}

.deletediv{
  display: inline-block;
}


.tablesdiv{
  display: flex;
  margin-left:-5px;
  margin-right:-5px;
}

.tablesdivel{
  flex: 50%;
  padding: 5px;
}




@media (min-width: 800px) {
    
    nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
    }
    header li{
        float: left;
    }

    .hamb{
        display: none;
    }
}



@media all and (max-width:600px){
  header{
    position:static;
  }
  .deptsdisc{
    display: none;
  }
  .con{
    display: none;
  }
form{
  grid-template-columns: 1fr;
  row-gap: unset;
  margin-left: unset;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #4841B7;
  font-weight: bold;
  color : white;    
  left: 0;
  display: flex;
  right: 0;
  justify-content: center;
  align-items: center;
}
.tablesdiv{
  display: grid;
  grid-template-columns: 1fr;
  row-gap: unset;
  margin-left: unset;
}
.tablesdivel,.btns{
  grid-template-columns: 1fr;
  row-gap: unset;
  margin-left: unset;
}
.btn{
  display: inline-block;
  border-radius: 15px;
  width: 100%;
  box-shadow: 0 1px #999;
  grid-column: 1/ span 2;
}
.btn2{
  display: inline-block;
  border-radius: 15px;
  box-shadow: 0 1px #999;
}
table th {
  display: none;
}
table td {
  display:flex;
}
table td::before{
  content: attr(title);
  font-weight: bold;
  width: 120px;
  min-width: 120px;
}
.table-list th,
.table-list td{
    padding:0.05rem;
}
.table-list,
.table-list th,
.table-list td{
    border:0.025px solid #6099e4;
}

.list-actions-el{
    padding:0.5rem;
    display: flex;
    justify-content: flex-start;
}
}